* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    margin: auto 0;
    max-width: 100%;
    overflow-x: hidden;
    color: black;
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
}

#main_container {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#navbar {
    position: fixed;
    /* Safari */
    position: -webkit-sticky;
    /* background: white; */
    min-width: 100%;
    padding: 0 5%;
    z-index: 1;
    margin: auto;
    background: transparent;
    /* FIX THIS */
}

.navbar hr {
    position: absolute;
    top: 0;
    left: 27%;
    height: 2.5em;
    border: 0.5px solid red;
}

.main-nav {
    display: flex;
    width: 80%;
    list-style-type: none;
    margin: auto;
    font-size: 1em;
    align-items: center;
}

.main-nav .list-middle {
    margin: auto;
}

.nav-item:not(.list-middle) {
    padding: 0 25px;
}

.nav-item a {
    color: inherit;
    text-decoration: none;
}

.nav-item a:hover {
    color: orange;
}

.navbar .name h4 {
    transform: skewX(-30deg);
}

.navbar .name h4:last-child {
    position: relative;
    left: 50%;
}

#home {
    height: 100vh;
}

#home .background {
    background-image: url("images/index_images/manik-rathee-a8YV2C3yBMk-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90%;
    width: 100%;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
}

#home .intro {
    align-self: flex-end;
    font-family: 'Bree Serif', serif;
    color: white;
    text-shadow: 2px 2px 5px black;
}

#home .intro h1 {
    font-size: 2.5em;
}

.background .author {
    align-self: flex-end;
    color: white;
    opacity: 0.5;
    font-size: 0.7rem;
}

.background .author a {
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 4px 6px;
    font-family: -apple-system, BlinkMacSystemFont, 'San Francisco', 'Helvetica Neue', Helvetica, Ubuntu, Roboto, Noto, 'Segoe UI', Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.2;
    display: inline-block;
    border-radius: 3px;
}

.background .author span:first-child {
    display: inline-block;
    padding: 2px 3px;
}

.background .author span:last-child {
    display: inline-block;
    padding: 2px 3px;
}

.background .author svg {
    height: 12px;
    width: auto;
    position: relative;
    vertical-align: middle;
    top: -2px;
    fill: white;
}

#skills {
    padding: 7% 0 7% 0;
    display: flex;
    justify-content: center;
}

.logo-container {
    display: grid;
    grid-gap: 35px;
    grid-template-columns: auto;
    grid-template-rows: 1fr auto;
    border-bottom: 0.25px solid grey;
    width: 80%;
}

.logo-container .description {
    text-align: center;
    margin-bottom: 50px;
}

.logo-container .title {
    margin-bottom: 50px;
}

.logo-items {
    display: flex;
    justify-content: space-around;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.logo-container .logo-item {
    display: inline-block;
    margin: 20px 25px;
}

.logo-container .logo-item img {
    height: 13vh;
    width: 12vw;
}

#portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #151515;
    color: white;
    padding: 7% 25% 15% 25%;
}

.project-container .description {
    text-align: center;
    margin-bottom: 50px;
    width: 50%;
    margin: auto;
    padding: 50px;
}

.project-items {
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.project-item {
    height: 300px;
    width: 500px;
    padding: 25px;
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    transition: filter 1s linear, -webkit-filter 1s linear;
}

.project-item:hover {
    -webkit-filter: 0;
    /* Safari 6.0 - 9.0 */
    filter: none;
}

.project-item:hover .inner-box {
    border: 1px solid rgb(255, 255, 255);
}

.project-item:hover .inner-box h4 {
    font-size: 1.7rem;
    color: rgb(61, 167, 161);
}

.project-item a {
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.inner-box {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.inner-box h4 {
    font-weight: bolder;
    text-shadow: 3px 3px 6px rgb(0, 0, 0);
    align-self: center;
    font-family: 'Varela Round', sans-serif;
    transition: font-size 1s linear, color 0.25s linear;
}

.project-items .random_quote_machine {
    background-image: url("images/index_images/quotation-marks.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.project-items .weather-app {
    background-image: url("images/index_images/weather-phone.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.project-items .wiki_viewer {
    background-image: url("images/index_images/wiki-and-mangnifying-glass.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.project-items .lightbulb_game {
    background-image: url("images/index_images/lightbulbs.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.project-items .twitch_tv {
    background-image: url("images/index_images/twitch.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    position: relative;
    width: 100vw;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    padding: 1% 0 1% 0;
}

.contact .title,
.website-owner {
    text-align: center;
}

.contact-item {
    list-style-type: none;
    display: inline-block;
    padding: 0 25px;
    margin: auto;
    font-size: 2rem;
    font-weight: bold;
}

.email-container {
    display: flex;
    justify-content: center;
}

.email-container button a {
    color: white;
    text-decoration: none;
}

.my-email {
    text-align: center;
    width: 200px;
}

footer hr {
    position: absolute;
    top: 25%;
    left: 55%;
    height: 5em;
    border: 0.5px solid red;
    margin: 0;
}

@media only screen and (max-width:1400px) {
    .project-items {
        grid-template-columns: repeat(3, 1fr);
    }
    .project-item {
        height: 30vh;
        width: 30vw;
    }
}

@media only screen and (max-width: 900px) {
    .navbar hr {
        left: 75%;
    }
    .project-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .project-container .description {
        width: 100%;
    }
    .project-items {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1%;
        padding: 0 10px;
    }
    .project-item {
        height: 30vh;
        width: 40vw;
    }
}

@media only screen and (max-width:600px) {
    .navbar hr {
        display: none;
    }
    #home .background {
        background-position: 30% center;
    }
    .background .author {
        font-size: 0.55rem;
    }
    #home .intro {
        align-self: center;
    }
    #home .intro h1 {
        font-size: 1.5rem;
    }
    .logo-container {
        border: none;
    }
    .logo-container .logo-item img {
        height: 15vh;
        width: 15vw;
    }
    .project-container .description {
        width: 80vw;
    }
    .project-items {
        display: grid;
        grid-template-columns: 1fr;
    }
    .project-item {
        height: 300px;
        width: 400px;
        -webkit-filter: 0;
        /* Safari 6.0 - 9.0 */
        filter: none;
        transition: none;
    }
    .inner-box h4 {
        color: rgb(61, 167, 161);
    }
    footer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
    }
    footer hr {
        display: none
    }
    .contact {
        margin: auto;
    }
    .website-owner {
        margin: auto;
    }
}