body {
  color: white;
  background: purple;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(bottom right, #990099, black);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #990099, black);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #990099, black);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #990099, black);
  /* Standard syntax */
}

.container-fluid {
  position: relative;
  padding: 0;
}

#title {
  text-align: center;
}

#inner_container {
  position: relative;
  width: 600px;
  margin: auto;
  border-radius: 30px;
  margin-bottom: 45px;
}

#menu {
  background-color: rgba(36, 140, 128, 0.6);
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  height: 8em;
  position: relative;
  top: 0;
}

#menu_top .col-md-6 {
  position: relative;
  top: 20px;
}

#menu_bottom {
  width: 100%;
  margin: auto;
  position: absolute;
  bottom: 0;
}

#online_icon {
  color: green;
}

#offline_icon {
  color: red;
}

#searchInput {
  visibility: hidden;
  border-radius: 25px;
  outline: 0;
  color: black;
}

#searchBtn {
  position: relative;
  right: -140px;
  cursor: pointer;
}

.active {
  background-color: white;
  color: black;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.status:hover {
  color: black;
  cursor: pointer;
  background-color: grey;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

#users {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 0;
  margin: 0;
  background-color: rgba(197, 239, 247, 0.6);
}

.online_color {
  border-radius: 100px;
  background-color: green;
  height: 20px;
  width: 20px;
}

.offline_color {
  border-radius: 100px;
  background-color: red;
  height: 20px;
  width: 20px;
}

.img_size {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin: auto;
}

.border-logo-online {
  border: 5px solid rgb(21, 150, 22);
}

.border-logo-offline {
  border: 5px solid rgb(247, 0, 0);
}

.bg-success {
  background-color: rgb(21, 150, 22);
}

.bg-warning {
  background-color: rgb(247, 0, 0);
}

.bg-inverse {
  background-color: rgb(27, 24, 24);
}

.text-black {
  color: black;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#footer p {
  text-align: center;
}
