* {
    box-sizing: border-box;
}

body {
    color: white;
    background: purple;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(bottom right, #990099, black);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #990099, black);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #990099, black);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #990099, black);
    /* Standard syntax */
}

.container-fluid {
    position: relative;
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

#inner_container {
    position: relative;
    width: 42vw;
    margin: auto;
    margin-bottom: 4em;
}

@media screen and (min-width: 700px) {
    @keyframes arrow_move {
        0% {
            color: black;
            left: 50px;
        }
        100% {
            color: rgb(223, 93, 93);
            left: 15px;
        }
    }
    @-webkit-keyframes arrow_move {
        0% {
            color: black;
            left: 50px;
        }
        100% {
            color: rgb(223, 93, 93);
            left: 15px;
        }
    }
    .fa-angle-left {
        position: fixed;
        top: 50%;
        z-index: 2;
        animation: arrow_move 1s ease-in 0s infinite alternate;
        -webkit-animation: arrow_move 1s ease-in 0s infinite alternate;
    }
}

#menu {
    background-color: rgba(36, 140, 128, 0.6);
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    position: relative;
}

#menu_top div {
    position: relative;
    top: 20px;
    height: 50px;
}

#menu_bottom {
    width: 100%;
    margin: auto;
    position: absolute;
    bottom: 0;
}

a:hover {
    text-decoration: none;
}

#all,
#online {
    outline: none;
}

.status {
    background-color: rgba(36, 140, 128, 23.6);
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}

.activate {
    color: black;
    border-bottom: 1px solid black;
}

#users {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 0px 35px;
    padding-top: 5px;
    margin: 0;
    background-color: rgba(197, 239, 247, 0.6);
}

button {
    background-color: Transparent;
    border: none;
}

.img_size {
    height: 5em;
    width: 5em;
    border-radius: 50%;
    margin: auto;
}

#users>hr {
    width: 60%;
    border-color: rgba(36, 140, 128, 0.5);
}

#users hr:last-child {
    display: none;
}

#users img,
#users img+p {
    cursor: pointer;
}

#users img+p:hover {
    color: rgba(16, 17, 17, 0.5);
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#footer p {
    text-align: center;
}


/* iPad width */

@media only screen and (min-width: 600px) and (max-width: 1000px) {
    #inner_container {
        width: 70%;
    }
    #users {
        padding: 15px;
    }
    #users div.col-lg-8,
    #users div.col-lg-9 {
        right: 50px;
    }
}


/* phone width */

@media only screen and (min-width: 300px) and (max-width: 700px) {
    .container-fluid {
        margin: 0;
    }
    #inner_container {
        width: 100%;
        margin: 0;
        margin-bottom: 6em;
        overflow: hidden;
    }
    #menu {
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
        height: 5.5em;
    }
    #users {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        padding: 0;
        margin: 0;
        min-height: 80vh;
    }
    #users .col-lg-8 p {
        word-break: break-word;
    }
}